

body, html {

  background-color: #191a19 !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}

.iconLogo{
 color: #FF4655;
}

html::-webkit-scrollbar{
  background-color: black !important;
  border-radius: 15x;
  width: 5px;

  
}
html::-webkit-scrollbar-thumb{
  background-color: #FF4655  !important;
  width: 10px;
  border-radius: 20px;
}





.backgroundNavbar{
  background-color: #FF4655 ;
}



.subtitulos{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.backgroundHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
 

 }

 .imagenCarousel{
  width: 1500px;
  height: 500px;
  filter: brightness(0.2);
 
}

 /* From Uiverse.io by faizanullah1999 */ 
.primary-button {
  font-family: 'Ropa Sans', sans-serif;
     /* font-family: 'Valorant', sans-serif; */
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0E1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
 }
 
 .primary-button:hover {
  border: 1px solid #FF4655;
  color: white;
  background-position: 40%;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .primary-button:hover:before {
  background-color: white;
 }
 
 .primary-button:hover:after {
  background-color: white;
 }
 
 .primary-button:after {
  content: "";
  position: absolute;
  background-color: #FF4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
 }
 
 .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
     /* opacity: 0.3; */
 }
 
 .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
     /* opacity: 0.3; */
  z-index: 0;
 }
 
 .shape {
  fill: #0E1822;
 }


 @media (min-width: 1440px) {


  .imagenCarousel,
  .imagenCarouselVps,
  .imagenCarouselGames {
    
    object-fit: cover; /* Asegura que las imágenes llenen el carrusel sin perder proporción */
  }

.contenidoCarrousel{
  display: flex;
  justify-content: center;
}


  
}
.imagenCarousel, 
.imagenCarouselVps, 
.imagenCarouselGames {
  width: 100%;
  object-fit: cover; /* Esto asegura que la imagen siempre se adapte al tamaño sin deformarse */
}



.cardLeague, .cardCounter, .cardValorant {
  width: 400px;
  height: 200px; /* Ajuste de tamaño visible */
  border: 1px solid #FF4655;
  padding: 1px;
  margin: 10px;
  background-color: #191a19; /* Fondo oscuro */
  transition: all 0.4s ease; /* Transición suave para todos los cambios */
  position: relative;
  z-index: 1;
}


.cardLeague:hover, .cardCounter:hover, .cardValorant:hover {
  transform: scale(1.04); 
  box-shadow: 0 0 5px 2px rgba(255, 70, 85, 0.5), 
              0 0 15px 5px rgba(255, 70, 85, 0.3) !important; 
  cursor: pointer;
}

.cardCounter {
  width: 400px;
  height: 200px;
}


.pin{
  background: green;
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
 
  
  }
  
  .pin::before{
  content: '';
  background: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation:
  pulse 1.3s ease-in-out infinite;
  }
  
  
  .pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
  
  }

  @keyframes pulse{
    100% {
    opacity: 0;
    transform: 
    translate(-50%, -50%)
    scale(2.5);
    }
    }






hr {border: 3px solid  #FF4655; border-radius: 300px/10px; height: 0px; text-align: center;}

.subHeader{
  background-color: #17b2fa;
  border-radius: 20px;
  
  }


  .iconoMedallaDeOro{
    width: 40px;
  }




  .triangle {
    position: relative;
    background: #0f100f;
    height: 100vh;
    height: auto; 
   
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #0f100f transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    
  }

  .help-card {
    
    width: 300px; /* Ancho fijo para todas las cards */
    min-height: 200px; /* Altura mínima para todas las cards */
    max-height: 400px; /* Altura máxima para mantener uniformidad */
  

}

/* Controlar el texto para que se ajuste dentro del card */
.help-card p {
    margin: 10px 0; /* Espaciado entre párrafos */
    flex-grow: 0; /* No permitir que el texto ocupe espacio adicional */

    white-space: normal; /* Permitir el ajuste de línea normal */
}

/* Añadir más estilo a la tarjeta para resaltar el título */
.help-card p:first-child {
    font-weight: bold; /* Hacer más destacado el primer párrafo si es un título */
}


.backgroundFooter{
  background-color: #0000004f;
}

.boxFooter{
 
  border-left: 1px solid #ff465635;
}

.iconFooter{
  width: 30px;
}

.iconFooterGrande{
  width: 45px;
}

/* From Uiverse.io by mrhyddenn */ 
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.bgScroll{
  background-color: #FF4655;
}

.textoContraste{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.glass-card {
  background: #0e1822a3; /* Fondo semitransparente */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para mayor profundidad */
  /* Efecto de desenfoque */
  /* Compatibilidad con Safari */
  border: 1px solid #FF4655 !important; /* Borde ligeramente visible */
  width: 230px;
  height: auto;
  text-align: center;
  transition: transform 0.3s ease; /* Suavizado en hover */
}

.glass-card:hover {
  transform: scale(1.05); /* Efecto de zoom al hacer hover */
}

.iconoArgentina{
  width: 50px;
}

.iconoPaypal{
  width: 90px;
}


/* Samsung Galaxy S8 Mobile */
@media only screen and (min-width: 360px) and (max-width: 767px) { 
  .cardLeague, .cardCounter, .cardValorant {
    width: 320px;
    height: 200px; /* Ajuste de tamaño visible */
    border: 1px solid #FF4655;
    padding: 1px;
    margin: 10px;
    background-color: #191a19; /* Fondo oscuro */
    transition: all 0.4s ease; /* Transición suave para todos los cambios */
    position: relative;
    z-index: 1;
  }

  .cardCounterMobile{
    flex-wrap: wrap;
  }

  
  
  .cardLeague:hover, .cardCounter:hover, .cardValorant:hover {
    transform: scale(1.04); 
    box-shadow: 0 0 5px 2px rgba(255, 70, 85, 0.5), 
                0 0 15px 5px rgba(255, 70, 85, 0.3) !important; 
    cursor: pointer;
  }
  
  .cardCounter {
    width: 320px;
    height: 200px;
  }
  }


  .wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.3)), center fixed url('./assets/background.jpg');
    height: 50vh;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.stat-item h2 {
    font-size: 2rem;
    margin: 0;
}

.stat-item{
  will-change: transform, opacity;
}


.testimonial-card {
  background-color: #333;
  color: white;
border: 1px solid #0E1822;
  border-radius: 10px;
  padding: 20px;
  height: 210px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.testimonial-card h5 {
  margin-top: 10px;
  color: #ff4655; /* Puedes ajustar el color para que coincida con tu diseño */
}

.testimonial-card p {
  font-style: italic;
}

.colorDiscord{
  color: rgba(114, 137, 218, 1);
  font-size: 25px;


}

.discord-button {
  background-color: #5865F2; /* Color Blurple de Discord */
  color: white; /* Texto en color blanco */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  padding: 12px 20px; /* Espaciado interno para agrandar el botón */
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor a una mano cuando pases el mouse */
  transition: background-color 0.3s ease, transform 0.1s ease; /* Transiciones suaves */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para hacerlo más llamativo */
}

.discord-button:hover {
  background-color: #4752C4; /* Un tono más oscuro de Blurple al pasar el mouse */
  transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
}

.discord-button:active {
  transform: scale(0.98); /* Efecto de clic que lo hace un poco más pequeño */
}



.socialContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #25D366;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #5865F2;
  transition-duration: .3s;
}
.containerFive:hover {
  background-color: #3b5998;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}


.socialSvg {
  width: 15px;
}

.socialTwiiter{
  width: 0px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.socialContainer:hover .socialTwiiter {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.borderInputs{
  border: 2px solid #ff4655; 
}


input::placeholder {
  color: #ffffff !important; /* Cambia el color del placeholder */
  font-weight: bold; /* Aplica un estilo cursiva al texto */
   /* Asegura que el color se aplique completamente */
}

textarea::placeholder{
  color: #ffffff !important;
  font-weight: bold; 
 
}





/* Valorant.css */
.rank-selector {
  margin-bottom: 30px;
}

.custom-select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.selected-rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ff4655;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.selected-rank img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.rank-options {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.rank-options.show {
  display: block;
}

.rank-options li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.rank-options li:hover {
  background-color: #1d1d1d;
}

.rank-options li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.rank-options::-webkit-scrollbar-track {
  background: #000000; /* Color del fondo del track del scrollbar */
  border-radius: 5px; /* Bordes redondeados para el track */
}

/* Para navegadores que no son WebKit, puedes usar estas propiedades */
.rank-options {
  border-radius: 15x;
  scrollbar-width: thin; /* Ancho del scrollbar (Firefox) */
  scrollbar-color: #ff4655 #000000; /* Color del thumb y del track (Firefox) */
}








/* From Uiverse.io by mi-series */ 
.btnWhatsapp {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #25d365b1;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  
  overflow: hidden;
  cursor: pointer;
}

.btnWhatsapp:hover {
  opacity: .95;
}

.btnWhatsapp .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}


.cardPrecios{
  background-color: rgba(0, 0, 0, 0.248);
  border: 1px solid #ff465651;
  
}

.iconoManos{
  font-size: 40px;
}








.navbarBackground{
  background-color: #181818;
  
}


.borderRankLol{
  border: 1px solid #ff4655;
}


.logofaceit{
  width: 35px;
}






.cardServices{
  border-radius: 5px;
  width: 600px;
  height: 650px;
border-radius: 5px;
transition: transform 0.3s ease, box-shadow 0.2s ease, background 0.3s ease;
background-color: rgba(0, 0, 0, 0.309);
}

.cardServices:hover{
  border: 1px solid #ff4655;
  transform: translateY(-5px) scale(1.02); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 

  background: linear-gradient(to top, #ff465646, transparent);
  
}